<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Check-Mate</title>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
  <link
    href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/user.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <header>
    <!-- Top Bar -->
    <nav class="navbar navbar-dark bg-primary fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/user">
          <img
            src="/images/chess-white.png"
            alt="Chess Icon"
            width="40"
            height="34"
            class="d-inline-block align-text-center"
          />
          Check-Mate
        </a>
      </div>
    </nav>
  </header>
  {{{body}}}
</body>
</main>
<footer class="footer fixed-bottom bg-primary">
  <p id="footer-text">©2021 Check-Mate. All Rights Reserved</p>
</footer>
