<!-- Sidebar -->
<nav id='sidebarMenu' class='collapse d-lg-block sidebar collapse bg-white'>
  <div class='position-sticky'>
    <div class='list-group list-group-flush mx-3 mt-4'>
      <a
        href='#'
        class='list-group-item list-group-item-action py-2 ripple active'
      >
        <i class='fa fa-tachometer' aria-hidden='true'></i>
        <span>Overview</span>
      </a>
      <button
        class='list-group-item list-group-item-action py-2 ripple'
        data-toggle='modal'
        data-target='#project-modal'
      ><i class='fa fa-usd' aria-hidden='true'></i>
        <span>Edit Budget</span>
      </button>
      <!-- Add Income / Expense Modal -->
      <button
        class='list-group-item list-group-item-action py-2 ripple'
        data-toggle='modal'
        data-target='#income-expense-modal'
      ><i class='fa fa-usd' aria-hidden='true'></i>
        <span>Add Income or Expense</span>
      </button>
      <!-- Logout Link -->
      <a
        href='/'
        class='list-group-item list-group-item-action py-2 ripple'
        id='logout'
      ><svg
          xmlns='http://www.w3.org/2000/svg'
          width='16'
          height='16'
          fill='currentColor'
          class='bi bi-box-arrow-left'
          viewBox='0 0 16 16'
        >
          <path
            fill-rule='evenodd'
            d='M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z'
          ></path>
          <path
            fill-rule='evenodd'
            d='M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z'
          ></path>
        </svg>
        <span>Logout</span></a>
    </div>
  </div>
</nav>