<!-- Sidebar -->
<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  {{>nav_bar}}
</nav>

<main class="main flex flex-row">
  <div class="col-12">
      <!--Insert Location for Transaction List-->
      {{>budget_page}}
</div>
</main>