<h1>Overview</h1>
<!-- Card Row 1 -->
<main class="main flex flex-row">
  <div>
    <h1 id="overview">Overview</h1>
  </div>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Monthly Budget</h5>
          <p class="card-text">[Insert User Input Here]</p>
          <br />
          <h5 class="card-title">Remaining Balance</h5>
          <p class="card-text">[Insert User Input Here]</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Expense Breakdown</h5>
          <p class="card-text">
            [Insert Graph of Expenses Based On User Input]
          </p>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Changes Over Time</h5>
          <p class="card-text">[Insert Graph of Changes Over Time]</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Card Row 2 -->
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col-3">
      <div class="card saving-card">
        <div class="card-body">
          <h5 class="card-title">Saving Goal</h5>
          <p class="card-text">[Insert User Input Here]</p>
          <br />
          <h5 class="card-title">Remaining Balance</h5>
          <p class="card-text">[Insert User Input Here]</p>
        </div>
      </div>
    </div>
    <div class="col-2.5">
      <div class="card loan-card">
        <div class="card-body">
          <h5 class="card-title">Loan Payoff?</h5>
          <p class="card-text">
            [Insert Loan Information Based On User Input]
          </p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card stock-card">
        <div class="card-body">
          <h5 class="card-title">Top Performing Stocks?</h5>
          <p class="card-text">[Insert Chart of Stocks]</p>
        </div>
      </div>
    </div>
    <div class="col-2.5">
      <div class="card tbd-card">
        <div class="card-body">
          <h5 class="card-title">Go Duke!</h5>
          <p class="card-text">[Insert Duke Fanpage]</p>
        </div>
      </div>
    </div>
  </div>