<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  {{>nav_bar}}
</nav>

<!-- Card Row 1 -->
<main class="main flex flex-row">
  <div>
    <h1 id="overview">Overview</h1>
  </div>
  <div class="row row-cols-1 row-cols-md-4 g-4">

    <div class="col-3">
      <!--Monthly budget partial-->
      {{>monthly_budget_card}}
    </div>

    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Expense Breakdown</h5>
          <p class="card-text">
            [Insert Graph of Expenses Based On User Input]
          </p>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Changes Over Time</h5>
          <p class="card-text">[Insert Graph of Changes Over Time]</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Card Row 2 -->
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col-2">
      {{>saving_goal_card}}
    </div>

    <div class="col-8">
      <!--Insert Location for Transaction List-->
      {{>trx_card}}
    </div>

    <div class="col-1">
      <div class="card stock-card">
        <div class="card-body">
          <h5 class="card-title">Top Performing Stocks?</h5>
          <p class="card-text">[Insert Chart of Stocks]</p>
        </div>
      </div>
    </div>
  </div>

    <div class="col-2.5">
      <div class="card tbd-card">
        <div class="card-body">
          <h5 class="card-title">Go Duke!</h5>
          <p class="card-text">[Insert Duke Fanpage]</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal For Budget -->
  <div class="modal fade custom-modal" id="project-modal" tabindex="-1" role="dialog"
    aria-labelledby="project-modal-form" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="project-modal-form">Edit Budget</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="project-form">
          <div class="modal-body">
            <div class="form-group">
              <label for="total_income">Monthly Budget</label>
              <input type="text" id="total_income" class="form-control" value="{{ budget.total_income }}"
                required />
            </div>
    
            <div class="form-group">
              <label for="total_remain">Remaining Balance($)</label>
              <input type="number" id="total_remain" class="form-control" value="{{ budget.total_remain }}" required />
            </div>

    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn custom-btn">Submit Budget Info</button>
          </div>
        </form>
      </div>
    </div>
  </div>
    <!-- Modal For Add Income and Expense -->
  <div class="modal fade custom-modal" id="income-expense-modal" tabindex="-1" role="dialog"
    aria-labelledby="income-expense-form" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="income-expense-form">Add Income or Expense</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="project-form">
          <div class="modal-body">
            <div class="form-group">
              <label for="add_income">Add Income</label>
              <input type="text" id="add_income" class="form-control" value="{{ budget.add_income }}" placeholder="$0.00"/>
            </div>
    
            <div class="form-group">
              <label for="add_expense">Add Expense</label>
              <input type="text" id="add_expense" class="form-control" value="{{ budget.add_expense }}" placeholder="$0.00"/>
            </div>

    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn custom-btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src='./js/logout.js'></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

