<section>
  <div class='mask d-flex align-items-center h-100 gradient-custom-3'>
    <div class='container h-100'>
      <div class='row d-flex justify-content-center align-items-center h-100'>
        <div class='col-12 col-md-9 col-lg-7 col-xl-6'>
          <div class='card' style='border-radius: 15px;'>
            <div class='card-body p-5'>
              <h2 class='text-uppercase text-center mb-5'>Create an account</h2>

              <form class='new-user-form'>

                <div class='form-outline mb-4'>
                  <input
                    type='text'
                    id='name'
                    class='form-control form-control-lg'
                  />
                  <label class='form-label' for='name'>Your Name</label>
                </div>

                <div class='form-outline mb-4'>
                  <input
                    type='email'
                    id='email-signup'
                    class='form-control form-control-lg'
                  />
                  <label class='form-label' for='email-signup'>Your Email</label>
                </div>

                <div class='form-outline mb-4'>
                  <input
                    type='text'
                    id='username'
                    class='form-control form-control-lg'
                  />
                  <label class='form-label' for='username'>Username</label>
                </div>

                <div class='form-outline mb-4'>
                  <input
                    type='password'
                    id='pwd'
                    class='form-control form-control-lg'
                  />
                  <label class='form-label' for='pwd'>Password</label>
                </div>
                <div class='d-flex justify-content-center'>
                  <button
                    type='submit'
                    class='btn btn-primary btn-block btn-lg gradient-custom-4 text-body'
                  >Register</button>
                </div>

                <p class='text-center text-muted mt-5 mb-0'>Already have an
                  account?
                  <a href='/' class='fw-bold text-body'><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src='./js/register.js'></script>