:root {
  --primary: #f0f0f0;
}

body {
  background-color: var(--primary);
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
}

a {
  color: black;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-footer {
  height: 50px;
  position: absolute;
  width: 100%;
  top: 775;
  list-style-type: none;
  padding-bottom: 1.5em;
}

/* Footer */
.footer {
  height: 3vh;
}

#footer-text {
  text-align: center;
  color: white;
}

/* Body Styling */
.main {
  margin-left: 50px;
  margin-top: 20px;
  margin-right: 0px;
}

#overview {
  margin-bottom: 25px;
  margin-top: 100px;
  color: black;
}

/* Card Styling */
.card {
  box-shadow: 3px 3px 4px gray;
  border-radius: 10px;
}

.card-title,
.card-text {
  text-align: center;
}

.card.saving-card,
.card.loan-card,
.card.stock-card,
.card.tbd-card {
  margin-top: 100px;
}

.row.row-cols-1.row-cols-md-4.g-4 {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: -15px;
}
